/* start Main header */
#main-header{
    background-color: darkslategrey;
}

#users{
    height: 79px;
    margin-bottom: -11px;
    margin-left: 36px;
    margin-top: -2px;
    width: 135px;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 7px;
    outline: 0px;
    font-weight: bold;
}
.logo-card{
    color: black;
    background-color: #fff;
    height: 75px;
}
.solgan-img{
    margin-top: -12px;
    float: right;
    border: 1px solid #fff;
    padding: 5px;
    background-color: #fff;
}

.slogan-text{
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 25px;
}
/* end main header */

/* start  users body section */

.main-card{
    height: 488px;
}
.title{
    float: right;
}
.content{
    display: flex;
    float: right;
}

.category-item{
float: right;
}
.category-item span{
    padding-right: 10px
}
/* end users body */
/* start add new user */

.breadcrumb{
    background-color: rgb(247, 247, 247);
    height: 40px;
}
.breadcrumb-item{
    font-size: 25px;
    float: right;
}
.breadcrumb-item+.breadcrumb-item::before{
    float: right;
}
.inputUserData{
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 14px;
    margin-top: 30px;
}
legend{
    background-color: lightgrey;
    width: 290px;
    color: #000;
    font-size: 23px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    top: -60px;
    right: -361px;
}
.form-row{
    position: relative;
    top: -40px;
    padding: 5px;
}
label{
    float: right;
}
.addBtn{
    background-color: lightgray;
    float: right;
    margin-bottom: -42px;
    position: relative;
    top: -42px;
    right: 4px;
    width: 178px;
    color: #000;
    font-weight: bold;
}
/* end add new user */
/* start usertable */

.users-table{
    text-align: center;
    border: 1px solid #ccc;
}
th{
    text-align: center
}
.add-user{
    background-color: lightgray;
    float: right;
    position: relative;
    top: 9px;
    width: 178px;
    color: #000;
    cursor: pointer;
}
/* end usertable */
/* start object table */
.objects-table{
    border: 1px solid #ccc;
    text-align: center
}
.add-object{
    background-color: lightgray;
    float: right;
    position: relative;
    top: 9px;
    width: 178px;
    color: #000;
    cursor: pointer;
}
.storeLegand{
    background-color: lightgrey;
    width: 216px;
    color: #000;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    top: -60px;
    right: -404px;
}
#inputCount{
    position: relative;
    left: 140px;
}
.adding{
    position: relative;
    top: 37px;
    left: 299px;
}
.add-to-store-form{
    position: relative;
    top: -26px;
}
.addToStoreBtn{
    background-color: lightgray;
    color: #000;
    width: 74%;
    cursor: pointer;
}
/* end objectds table */

/* start add new object */
.addObjLegand{
    background-color: lightgrey;
    width: 220px;
    color: #000;
    font-size: 23px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    top: -60px;
    right: -408px;
}
.addObjBtn{
    display: block;
    width: 83%;
}
/* end add new object */
/* start bill Record */
.newBillBtn{
    float: right;
}
/* end bill Record */
/* start bill  */
.inputBillData{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 14px;
    height: 490px;
}
.make-new-bill .main-card{
    height: 610px;
}
.inputBillData .row{
    position: relative;
    top: -35px;
    padding: 5px;
}
.inputBillData button{
    position: relative;
    top: -30px;
}
.billLegand{
    background-color: lightgrey;
    width: 102px;
    color: #000;
    font-size: 23px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    top: -33px;
    right: -528px;
}
.makeBillBtn{
    float: right;
    width: 50%;
}
/* end bill */
/* start print bill */
.printBill .card-header{
    text-align: center;
}
.printBillBtn{
    margin-left: 440px;
}
.printBillHeader .userName{
    float: right;
}
.printBillHeader .userAdress{
    float: right;
}
.printBillHeader .billDate{
    float: right;
}
.printBillHeader .totalPrice{
    float: right;
}
