/* start Main header */
#main-header{
    background-color: darkslategrey;
}

#users{
    height: 79px;
    margin-bottom: -11px;
    margin-left: 36px;
    margin-top: -2px;
    width: 135px;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 7px;
    outline: 0px;
    font-weight: bold;
}
.logo-card{
    color: black;
    background-color: #fff;
    height: 75px;
}
.solgan-img{
    margin-top: -12px;
    float: right;
    border: 1px solid #fff;
    padding: 5px;
    background-color: #fff;
}

.slogan-text{
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 25px;
}
/* end main header */

/* start  users body section */

.main-card{
    height: 488px;
}
.title{
    float: right;
}
.content{
    display: flex;
    float: right;
}

.category-item{
float: right;
}
.category-item span{
    padding-right: 10px
}
/* end users body */
/* start add new user */

.breadcrumb{
    background-color: rgb(247, 247, 247);
    height: 40px;
}
.breadcrumb-item{
    font-size: 25px;
    float: right;
}
.breadcrumb-item+.breadcrumb-item::before{
    float: right;
}
.inputUserData{
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 14px;
    margin-top: 30px;
}
legend{
    background-color: lightgrey;
    width: 290px;
    color: #000;
    font-size: 23px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    top: -60px;
    right: -361px;
}
.form-row{
    position: relative;
    top: -40px;
    padding: 5px;
}
label{
    float: right;
}
.addBtn{
    background-color: lightgray;
    float: right;
    margin-bottom: -42px;
    position: relative;
    top: -42px;
    right: 4px;
    width: 178px;
    color: #000;
    font-weight: bold;
}
/* end add new user */
/* start usertable */

.users-table{
    text-align: center;
    border: 1px solid #ccc;
}
th{
    text-align: center
}
.add-user{
    background-color: lightgray;
    float: right;
    position: relative;
    top: 9px;
    width: 178px;
    color: #000;
    cursor: pointer;
}
/* end usertable */
/* start object table */
.objects-table{
    border: 1px solid #ccc;
    text-align: center
}
.add-object{
    background-color: lightgray;
    float: right;
    position: relative;
    top: 9px;
    width: 178px;
    color: #000;
    cursor: pointer;
}
.storeLegand{
    background-color: lightgrey;
    width: 216px;
    color: #000;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    top: -60px;
    right: -404px;
}
#inputCount{
    position: relative;
    left: 140px;
}
.adding{
    position: relative;
    top: 37px;
    left: 299px;
}
.add-to-store-form{
    position: relative;
    top: -26px;
}
.addToStoreBtn{
    background-color: lightgray;
    position: relative;
    right: -140px;
    top: -49px;
    width:320px;
    color: #000;
    cursor: pointer;
}